[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
matplotlib = "*"
wordcloud = "*"
scipy = "*"
jieba = "*"

[requires]
python_version = "3.6"
